@import "./mixins.scss";

footer {
  @include container;
  .container-footer {
    background-color: #c17942;
    bottom: 0;
    padding: 1.5rem;
    position: absolute;
    width: 100%;

    div {
      @include container;
      margin: 2% 73% 0 0;
      font-size: 14px;
    }

    ul {
      @include container;
      list-style: none;
      flex-direction: row;
      justify-content: space-around;
      font-size: 18px;

      li:hover {
        color: rgb(188, 188, 188);
        cursor: pointer;
      }
    }
  }
}
